<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Afifah's Leaflet Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="mapId" style="height: 100%; width: 100%;" [fullscreen]="false"></ion-content>

 <!-- <ion-list>
    <ion-item>
      <ion-select interface="popover" [(ngModel)]="selectedBasemap" (ionChange)="changeBasemap()"
        placeholder="Pilih Basemap">
        <ion-select-option value="streets">Streets</ion-select-option>
        <ion-select-option value="topo">Topographic</ion-select-option>
        <ion-select-option value="satellite">Satellite</ion-select-option>
        <ion-select-option value="topo-vector">Topo Vector</ion-select-option>
        <ion-select-option value="streets-navigation-vector">Streets Navigation Vector</ion-select-option>
        <ion-select-option value="gray-vector">Gray Vector</ion-select-option>
      </ion-select>
    </ion-item>
      </ion-list> -->
